
.wy-nav-content {
    max-width: none !important;
}

.wy-side-nav-search {
    background: linear-gradient(to bottom, rgb(255, 173, 32), rgb(255, 50, 50), rgb(124, 18, 122), rgb(42, 36, 49));
}

.wy-nav-top,.wy-nav-side,.rst-versions .rst-current-version {
    /* background: rgb(42, 36, 49); */
    background: rgb(37, 38, 49);
}

.rst-versions{
    border-top:solid 10px rgb(42, 36, 49);
}

.rst-content {
    //text-indent: 50px;
}

code {
    color: black;
}
@media only screen and (min-width: 1024px){
    .wy-nav-content-wrap {
        max-width: 40vw;
    }
}

img.center-image {
    text-align: center;
}